html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family:"Inter"
}

*:not(.fa-solid):not(.fa){
    font-family:"Inter";
}



.no-a-decoration, .no-a-decoration:hover{
    text-decoration:none;
    color: inherit;

}
body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

.e-bigger {
    font-size: x-large;
}

.widget {
    border-radius: 1rem;
    background-color: #1a222b;

}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none
}


/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #1a222b;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }
